<!-- components/sidebar.html -->
<div id="slideMenu" class="slide-menu">
    <div class="close-btn" id="closeMenu">&times;</div>
    <div class="menu-content">
        <ul class="menu-list">
            <li>
                <a href="account.html"><i class="fas fa-circle-user"></i> <span id="sidebar-username">Account</span></a>
            </li>
            <li>
                <a href="bozze.html"><i class="fa-solid fa-file-pen"></i> Le tue bozze</a>
            </li>
            <li>
                <a href="salvati.html"><i class="fas fa-bookmark"></i> Post salvati</a>
            </li>
            <li>
                <a href="#" id="randomBlogSidebarBtn"><i class="fa-solid fa-dice"></i> Pagina Random</a>
            </li>
            <li>
                <a href="crea_post.html"><i class="fa-solid fa-feather"></i> Crea post</a>
            </li>
            <li>
                <a href="crea_blog.html"><i class="fa-solid fa-layer-group"></i> Crea blog</a>
            </li>
            <li>
                <a href="crea_sondaggio.html"><i class="fas fa-poll"></i> Crea sondaggio</a>
            </li>
            <li>
                <a href="impostazioni.html"><i class="fa-solid fa-gear"></i> Impostazioni</a>
            </li>
            <li>
                <a href="#" id="sidebar-logout"><i class="fas fa-sign-out-alt"></i> Logout</a>
            </li>
        </ul>
    </div>
</div>